{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
    
    <div class="panel-heading">
      <div class="col-md-12 text-center">
      	<h1> {{ game.current_round }} </h1>
      </div>
    </div>
    
    <div class="panel-heading">
      {% for category in game.categories %}
      <div class="text-center col-md-2"><h4>{{ category }}</h4></div> 
      {% endfor %}
      <div class="clearfix"></div> 
    </div>

    
    <div class="panel-body" id="main-board">
       {% for category in game.categories %}
        <div class="category col-md-2">
            {% for value in game.values %}
                {% if True %}
                    <div class="well question"><a href="{{ url_for('.show_question', category=category, value=value) }}">{{ value|int(value) }}</a></div>
                {% else %}
                    <div class="well question"><a href="{{ None }}">{{ None }}</a></div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
            

</div>
{% endblock %}

{% block footer %}

  <footer>
    <div class="container">
      <hr>
        <p> Player 1 </p>
    </div> 
  </footer>

{% endblock %}