<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Jeopardy!</title>
    <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="{{ url_for('static', filename='favicon-96x96.png') }}" rel="shortcut icon">
  </head>

  <body>

  {% block topbar %}
  <header>
  </header>
  {% endblock %}

  <div class="container">
    <div class="content">
      {% block content %}
      {% endblock %}
   </div>
  </div>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='javascript/jquery-1.11.2.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% block footer %}
    {% endblock %}
  </body>
  
</html>
